body {
    background-color: aliceblue;
}

h1 {
    text-align: center;
    font-size: 72px;
    font-weight: bolder;
}
  
img {
    
}
.centered {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: darkred;
}
table {
    background-color: azure;
    margin-top: 50px;
    height: 400px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid;
    border-radius: 35px;
    text-align: center;
}
th {
    border: 3px solid;
    border-radius: 30px;
    background-color: aquamarine;
}

footer {
    text-align: center;
    font-weight: bold;
}

.wrap {
    height: 100%;
    width: 100%;
    position: absolute;
    /* this ensures that the image cannot
    render outside of their container
    without forcing any scrollbars*/
    overflow: hidden;
    top: 0;
    left: 0;
    text-align:center ;
}

.menu-container {
    max-height: 340px;
    margin: 0%,auto;
    content: "";
    /* top:0;
    left:0; */
    /* postition: absolute - to the top edge of the screen */
    width: 100%;
    position: fixed;
    z-index: 100;
    /*background-color: rgba(255,255,255,0.5;*/
}
.menu {
    color: #f00;
    font: bold 12px/18px sans-serif;
    text-align: center;
    display: inline;
    margin: 0% auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.menu li {
    color: darkred;
    background-color: rgba(255, 255, 255, 1);
    display: inline-block;
    margin: 0% auto;
    position: relative;
    padding: 15px 4%;
    border: 1px solid #9d9fa2;
    box-shadow: 2px 2px 10px 0 rgba(0 0 0 0.5);
    border-radius: 6px;
    /* background-colour #052136 */
    cursor: pointer;
    transition-property: background;
    transition-duration: .4s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

.menu li:hover {
    color:#f00;
    background-color: rgba (100 65 0 0.3);
}
* {
    box-sizing: border-box;
  }

/* Create two equal columns that floats next to each other */
.column {
    border: 3px;
    border-radius: 40px;
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.row p:hover {
    color:#f00;
    background-color: rgba (100 65 0 0.3);
}
/* fade in overlay */

.container {
    position: relative;
    width: 50%;
  }
  
.image {
    height: auto;
    width: 400px;
    filter: opacity(70%);
    display: block;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border:3px solid;
    border-radius: 50px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
.container:hover .overlay {
    opacity: 1;
  }
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

video {
    height:auto;
    width:50%;
    position: absolute;
   
    
    

}