body {
	color: snow;
	background:black;
	}
h1 {
	text-align:center;
	text-shadow: 2px 2px blue;
	}
div {
	border:2px solid blue;
	}
Ol {
	list-style-type: upper-roman;
}
Ul {
	list-style-type:square;
}